.fishes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: lightsteelblue;
  margin-top: 2em;
  width: 95%;
}

.fishes__title {
  display: flex;
  justify-content: center;
}

.fishes__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em 0 0 1em;
  margin: 1em;
  width: 30%;
  background-color: mediumspringgreen;
}
