@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

@import "./header.css";
@import "./main-container.css";
@import "./fishes.css";
@import "./travel.css";
@import "./aside.css";

/*Typography-----------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  background-color: midnightblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

h3 {
  font-size: 2em;
  text-decoration: underline;
}

li {
  list-style-type: none;
  padding: 0;
}
img {
  width: 170px;
}
a {
  cofont-size: 2em;
  color: white;
}

a:hover {
  color: gray;
}

footer {
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}
