.main-container {
  display: flex;
  justify-content: space-evenly;
}
.left-container {
  display: flex;
  flex-direction: column;
  flex-basis: 3;
  align-items: center;
  width: 72%;
  background-color: lightgreen;
  border-radius: 20px;
  margin: 2em 0 2em 0;
}

.right-container {
  flex-basis: 1;
  width: 22%;
  background-color: lightpink;
  margin: 2em 0 2em 0;
  border-radius: 20px;
}
