.travel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(9, 108, 238);
  margin: 2em 0 2em 0;
  width: 95%;
}

/* Quotes */

.travel__quotes {
  margin: 2em 0 2em 0;
  width: 95%;
  background-color: rgb(195, 170, 170);
}

.quotes__title {
  display: flex;
  justify-content: center;
}

.quoteItem {
  padding: 1em;
}

.decoration-container {
  display: flex;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.decoration {
  width: 25%;
  border-bottom: 3px solid black;
  text-align: center;
}

/* Location */

.travel__location {
  width: 95%;
  margin: 0 0 2em 0;
  background-color: rgb(195, 170, 170);
}
.location__title {
  display: flex;
  justify-content: center;
}

.locationItem-container {
  display: flex;
  flex-direction: row;
}

.locationItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  width: 30%;
  background-color: mediumspringgreen;
  padding: 0.5em;
  border: 3px solid black;
}
